@font-face {
  font-family: Circular;
  src: url(../fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}
@font-face {
  font-family: Circular;
  src: url(../fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
  font-weight: bold;
}
@font-face {
  font-family: Circular;
  src: url(../fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
  font-weight: light;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Cirucular, sans-serif;
  text-transform: none;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}
