@font-face {
  font-family: Circular;
  src: url(../fonts/Circular-medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Circular;
  src: url(../fonts/Circular-bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Circular;
  src: url(../fonts/Circular-light.ttf);
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Circular, sans-serif;
  text-transform: none;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: Circular, sans-serif;
}
span {
  font-family: Circular, sans-serif;
}
