@import "resets.css";
@import "hero.css";

:root {
  --blackColor: #222222;
  --whiteColor: #fff;
  --pinkColor: rgb(255, 56, 92);
  --purpleCOlor: #6f019c;
  --violetColor: #c6017e;
  --lightGrayColor: rgb(247, 247, 247);
}

body {
  background: linear-gradient(
    to bottom,
    var(--blackColor) 0%,
    var(--blackColor) 20%,
    var(--whiteColor) 20%,
    var(--whiteColor) 90%,
    var(--lightGrayColor) 90%,
    var(--lightGrayColor) 100
  );
}

#page-wrapper {
  margin: 0 8rem;
}

/* hero section */

#house {
  position: relative;
}
#house-pic {
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  width: 100%;
  border-radius: 12px;
}

.hero-content-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 47.5rem;
  padding-bottom: 7.5rem;
  z-index: 1;
}

.hero-title {
  color: var(--whiteColor);
  font-size: 4.52rem;
  line-height: 5.4rem;
  text-align: center;
  font-weight: bold;
}
.hero-btn {
  padding: 1.4rem 3.2rem;
  background-color: var(--whiteColor);
  border-radius: 25px;
  display: inline;
  font-size: 1.8rem;
  max-width: fit-content;
  font-size: 2rem;
  margin-top: 3.1rem;
}

.hero-btn:hover {
  background-color: var(--lightGrayColor);
}
.hero-btn > span {
  display: inline-block;
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--purpleCOlor) 0%,
    var(--violetColor) 135.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0;
  font-weight: 600;
  width: 100%;
}
