@import "resets.css";
@import "hero.css";

:root {
  --blackColor: #222222;
  --whiteColor: #fff;
  --pinkColor: rgb(255, 56, 92);
  --purpleCOlor: #6f019c;
  --violetColor: #c6017e;
  --lightGrayColor: rgb(247, 247, 247);
}


body {
  background: linear-gradient(
    to bottom,
    var(--blackColor) 0%,
    var(--blackColor) 20%,
    var(--whiteColor) 20%,
    var(--whiteColor) 90%,
    var(--lightGrayColor) 90%,
    var(--lightGrayColor) 100
  );
}

#page-wrapper {
  margin: 0 8rem;
}

/* hero section */

#house {
  position: relative;
}
#house-pic {
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  width: 100%;
  border-radius: 12px;
}

.hero-content-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 47.5rem;
  padding-bottom: 7.5rem;
  z-index: 1;
}

.hero-title {
  color: var(--whiteColor);
  font-size: 4.52rem;
  line-height: 5.4rem;
  text-align: center;
  font-weight: bold;
}
.hero-btn {
  padding: 1.4rem 3.2rem;
  background-color: var(--whiteColor);
  border-radius: 25px;
  display: inline;
  font-size: 1.8rem;
  max-width: fit-content;
  font-size: 2rem;
  margin-top: 3.1rem;
}

.hero-btn:hover {
  background-color: var(--lightGrayColor);
}
.hero-btn > span {
  display: inline-block;
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--purpleCOlor) 0%,
    var(--violetColor) 135.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0;
  font-weight: 600;
  width: 100%;
}


/* ////////////////////////////////////////////////////////// */
.hero 
{
  height: 48rem;
  
}
.hero-pink
{
  margin-top: 8rem;

  width: 100% ;
  height: 38.166rem;
  background-color:var(--pinkColor) ;
  border-radius: 12px;
}

.hero-pink-text
{
  
  text-align: center;
   width: 100%;
  color: var(--whiteColor);
  font-weight: 600;
  font-size: 3.8rem;
  /* padding-bottom: 2.4rem; */
 
}

.hero-pink-section
{
  width: 100%;
  padding: 0 8rem 0 8rem;
  height: 100%;
}

.hero-pink-section-in
{
  width:100%;
  height: auto;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.hero-pink-button
{
  height: 3.6rem;
  width: 10.656rem;
  text-align: center;
  font-size: 1.4rem;
}
.hero-pink-button-inside
{
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
 
}

.hero-pink-button-section
{
  border-width: 0.1rem;
  border-color: var(--whiteColor);
  border-radius: 0.8rem;
  text-align: center;
  border-style: solid;
  width: 10.656rem;
  height: 3.6rem;
  margin-left: 48rem;
  margin-top: 2.4rem;
  padding:0.8rem 1.3rem 0.8rem 1.3rem;
  letter-spacing: 0.1px;
  
}
.hero-pink-button-a
{
  color: var(--whiteColor);
}